/* CSS Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* SIZING */
    --size-8: calc(8 / 16 * 1rem);
    --size-16: calc(16 / 16 * 1rem);
    --size-32: calc(32 / 16 * 1rem);
    --size-48: calc(48 / 16 * 1rem);
    --size-56: calc(56 / 16 * 1rem);
    --size-64: calc(64 / 16 * 1rem);
    --size-80: calc(80 / 16 * 1rem);
    --size-96: calc(96 / 16 * 1rem);
    --size-104: calc(104 / 16 * 1rem);
    --size-152: calc(152 / 16 * 1rem);
    --size-160: calc(160 / 16 * 1rem);
    --size-256: calc(256 / 16 * 1rem);
    --size-305: calc(305 / 16 * 1rem);
    --size-355: calc(355 / 16 * 1rem);
    --size-445: calc(445 / 16 * 1rem);

     /* SPACING */
    --space-50: calc(4 / 16 * 1rem);
    --space-100: calc(8 / 16 * 1rem);
    --space-200: calc(16 / 16 * 1rem);
    --space-300: calc(24 / 16 * 1rem);
    --space-400: calc(32 / 16 * 1rem);
    --space-500: calc(40 / 16 * 1rem);
    --space-600: calc(48 / 16 * 1rem);
    --space-700: calc(56 / 16 * 1rem);
    --space-800: calc(64 / 16 * 1rem);
    --space-900: calc(72 / 16 * 1rem);
    --space-1000: calc(80 / 16 * 1rem);
    --space-1400: calc(112 / 16 * 1rem);

    /* COLORS */
    --cyan-600: #4D96A9;
    --cyan-300: #8FE3F9;
    --cyan-600-transparent: #4d97a9e6;
    --purple-600: #855FB1;
    --purple-300: #D9B8FF;
    --slate-900: #28283D;
    --slate-600: #87879D;
    --slate-300: #D1D1DF;
    --white: #FAFAFA;

    
   /* FONT FAMILY */
   --font-family: "Red Hat Display", sans-serif;

   /* FONT WEIGHT */
   --font-medium: 500;
   --font-black: 900;

   /* FONT SIZES */
   --font-xxs: calc(12 / 16 * 1rem);
   --font-xs: calc(14 / 16 * 1rem);
   --font-sm: calc(16 / 16 * 1rem);
   --font-md: calc(18 / 16 * 1rem);
   --font-lg: calc(32 / 16 * 1rem);
   --font-xl: calc(40 / 16 * 1rem);
   --font-xxl: calc(48 / 16 * 1rem);
   --font-xxxl: calc(64 / 16 * 1rem);

   /* Leading */
   --line-height-tight: 1.10;
   --line-height-normal: 1.50;

   /* Tracking */
   --letter-spacing-normal: 0;
   --letter-spacing-wide: calc(4 / 16 * 1rem);

}

body {
    font-family: var(--font-family);
}

/* TYPOGRAPHY */

.text__display-header {
    font-size: var(--font-xl);
    font-weight: var(--font-black);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-normal);
    color: var(--slate-900);
    min-width: 18rem;
}

.text__section-title {
    font-size: var(--font-lg);
    font-weight: var(--font-black);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-normal);
    color: var(--slate-900);
}

.text__overline {
    font-size: var(--font-xxs);
    font-weight: var(--font-black);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-wide);
    color: var(--cyan-600);
    text-transform: uppercase;
}

.text__description {
    font-size: var(--font-sm);
    font-weight: var(--font-medium);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
    color: var(--slate-600);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-top: var(--space-600);
}

.hero {
    display: flex;
    flex-direction: column;
    padding: var(--space-800) 0 var(--space-400);
    gap: var(--space-600);
}

.hero::before {
    content: '';
    display: block;
    background: url(/assets/tablet/image-hero.png) center center/cover no-repeat;
    width: 100%;
    min-height: var(--size-160); 
}


.hero__cta {
    display: flex;
    flex-direction: column;
    gap: var(--space-300);
    text-align: center;
    padding: 0 var(--space-400);
}

.hero__cta .text__display-header {
    width: var(--size-16);
    align-self: center;

}

.btn-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-100);
}
.btn {
    max-width: fit-content;
    background-color: var(--bg-color);
    border-radius: calc(29 / 16 * 1rem);
    padding: var(--space-200) var(--space-500);
    border: 0;
}
.btn--primary {
    --bg-color: var(--cyan-600);
}
.btn--secondary {
    --bg-color: var(--purple-600);
}
.btn__text {
    font-size: var(--font-sm);
    font-weight: var(--font-black);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
    color: var(--white);
}
.btn--primary__version {
    color: var(--cyan-300);
}
.btn--secondary__version {
    color: var(--purple-300);
}
.btn--primary:hover {
    --bg-color: var(--cyan-300);
    cursor: pointer;
}
.btn--secondary:hover {
    --bg-color: var(--purple-300);
    cursor: pointer;
}

.btn--primary:hover .btn--primary__version {
    color: var(--cyan-600);
}
.btn--secondary:hover .btn--secondary__version {
    color: var(--purple-600);
}


.step-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--slate-300);
}

.step-indicator__line {
    height: var(--size-80);
    margin: 0;
    border: .1rem solid var(--slate-300);
}

.step-indicator__number {
    width: var(--size-56);
    height: var(--size-56);
    border: .1rem solid var(--slate-300);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.main-content {
    padding: var(--space-400) var(--space-400) var(--space-800);
    display: flex;
    flex-direction: column;
    gap: var(--space-800);
}

.main-content__text {
    display: flex;
    flex-direction: column;
    gap: var(--space-400);
    text-align: center;
}

.main-content__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-200);
}

.img-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--space-200);
    justify-content: center;

}

.img-group img {
    max-width: var(--size-160);
    border-radius: var(--size-8);
    object-fit: contain;
}  

.footer {
    display: flex;
    flex-direction: column;
}

.step-indicator--two {
    position: relative;
    top: 1.8rem;
    z-index: 2;
}

.footer-cta {
    background: 
        linear-gradient(var(--cyan-600-transparent), var(--cyan-600-transparent)),
        url('assets/mobile/image-footer.jpg') center center/cover no-repeat;
    padding: var(--space-800) 0;
}

.footer-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-300);
    text-align: center;
    margin: 0 auto;
}

.footer-cta .text__section-title {
    color: var(--white);
}

.footer-cta .text__description {
    color: var(--white);
    width: 19rem;
}

@media (min-width: 48rem) {

    .hero::before {
        content: '';
        display: block;
        background: url(/assets/tablet/image-hero.png) center center/cover no-repeat;
        min-height: var(--size-305);
    }

    .hero__cta {
        width: 30rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: var(--space-400);
        order: 3;
        grid-column: 1 / 3;
        grid-row: 2;
        margin: auto;
    }

    .btn-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--space-100);
    }

    .img-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: var(--space-400);
    }

    .img-group img {
        max-width: var(--size-152);
        border-radius: var(--size-8);
        object-fit: contain;
    }

    .main-content__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--space-400);
        text-align: center;
    }

    .main-content__title {
        width: 25rem;
    }

    .text__display-header {
        font-size: var(--font-xxl);
        min-width: 20rem;
    }

    .text__description {
        font-size: var(--font-sm);
    }

    .text__overline {
        font-size: var(--font-xs);
    }

    .main-content .text__description {
        width: 32rem;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer-cta {
        width: 100%;
        background: 
            linear-gradient(var(--cyan-600-transparent), var(--cyan-600-transparent)),
            url('assets/tablet/image-footer.jpg') center center/cover no-repeat;
        padding: var(--space-800) 0;
    }

    .footer-cta .text__description {
        width: 32rem;
    }

}


@media (min-width: 64rem) {

    .nav {
        padding-top: var(--space-1000);
    }

    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: var(--space-400);
    }

    .hero::before {
        content: '';
        display: inline-block;
        background: url(/assets/desktop/image-hero-left.png) top left/contain no-repeat;
    }

    .hero__cta {
        grid-column: 2;
        grid-row: 1;
    }

    .hero::after {
        content: '';
        display: inline-block;
        background: url(/assets/desktop/image-hero-right.png) top right/contain no-repeat;
    }

    .text__display-header {
        font-size: var(--font-xxxl);
        min-width: 28rem;
    }

    .text__section-title {
        font-size: var(--font-xl);
    }

    .text__overline {
        font-size: var(--font-sm);
    }

    .text__description {
        font-size: var(--font-md);
        width: 27rem;
        align-self: center;
    }

    .main-content__title {
        width: 28rem;
    }

    .main-content .text__description {
        width: 34rem;
    }

    .img-group {
        display: flex;
        flex-direction: row;
        gap: var(--space-400);
    }

    .img-group img {
        max-width: var(--size-256);
    }

    .footer-cta {
        display: flex;
        flex-direction: row;
        gap: var(--space-400);
        padding: var(--space-1400) var(--space-1000);
        text-align: left;

        background:
            linear-gradient(var(--cyan-600-transparent), var(--cyan-600-transparent)),
            url('assets/desktop/image-footer.jpg') center center/cover no-repeat;
    }

    .footer-cta .text__section-title {
        width: var(--size-445);
    }

    .footer-cta .text__description {
        width: var(--size-355);
    }

    .footer-cta .btn {
        margin-left: auto;
    }
}